<h1>Hello There! This is homework 3!</h1>

<h2> CATS </h2>

	<p1> There are <%= @cat_num %> cats. </p1>

	<p1> <%= @cats %> </p1>

<h2> USERS </h2>

	<p1> There are <%= @user_num %> users. </p1>

	<p1> Username: <%= @users[0].username %>. 
	     Email: <%= @users[0].email %>. 
	     Age: <%= @users[0].age %>. 
	     Username: <%= @users[1].username %>. 
	     Email: <%= @users[1].email %>. 
	     Age: <%= @users[1].age %>. </p1>

	<p1> <%= @users %> </p1>
	

<h2> TODO </h2>

	<p1> There are <%= @list_num %> lists. </p1>

	<p1> <%= @things_todo %> </p1>